body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-image: url("https://files.catbox.moe/pp381d.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.grid {
    display: grid;
    grid-template-areas:
    'header header header'
    'sidebar-one main main'
    'sidebar-two main main'
    'footer footer footer'
    ;
    max-width: 70vw;
    gap: 1em;
    background-image: url('https://files.catbox.moe/2kdmaj.jpg');
    padding: 1em;
    margin: -5px;
    border: 5px solid rgba(43, 43, 43, 0.247);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    font-family: 'Roboto Mono', monospace;
}

/* decorative outer frame that holds the border-image */
.frame {
    margin-top: 10vh;
    margin-bottom: 2vh;
    display: inline-block; 
    box-sizing: content-box;
    border: 38px solid transparent;
    border-image-source: url("https://files.catbox.moe/8tbvoe.png");
    border-image-slice: 28;
    border-image-repeat: round;
    z-index: 5;
}

.decor {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.top-decor {
    width: 200px;
    z-index: 10;
}

.ankh {
    width: 200px;
}

.bat-cat {
    width: 300px;
    
}

.caja {
    color: white;
    padding: 2em;
}

.letra-chica {
    text-align: center;
    font-size: 0.8em;
    color: white;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
}

header {
    grid-area: header;
    text-align: center;
    nav {
        background-image: url("https://files.catbox.moe/nl3dug.jpg");
        background-size: cover;

        padding: 2em;
        border: 5px solid rgba(90, 90, 90, 0.247);
    }
    a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
        font-size: 1.2em;
        &:hover {
            text-decoration: underline;
        }
    }
    h1 {
        margin: 2em 0;
    }
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

.skull {
    width: 100px;
}

.status {
    grid-area: sidebar-one;
    background-image: url("https://files.catbox.moe/wo4puf.jpg");
    background-size: cover;
    border: 5px solid rgba(170, 170, 170, 0.247);
}

.status-title {
    width: 100%;
    display: block;
    margin: 0 auto 1em auto;
}

.dni {
    grid-area: sidebar-two;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    font-weight: 300;
    background-color: rgba(255, 230, 253, 0.719);
    color: rgb(0, 0, 0);
}

th {
    background-color: rgba(17, 12, 17, 0.719);
    color: white;
}

th, td {
        border: 1px solid rgb(255, 255, 255);
        padding: 8px;
        text-align: left;
}

.about {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.portal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.options {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    background-image: url("https://files.catbox.moe/r0l224.jpg");
    background-size: cover;
    background-position: center;
    padding: 1em;
    border-radius: 10px;
    width: 40vw;
    height: 50vh;
    a {
        text-align: center;
        text-decoration: none;
        color: rgb(160, 160, 160);
        font-style: italic;
        &:hover {
            color: white;
            text-decoration: underline;
            transition: ease all 0.3s;
            transform: scale(1.1);
        };
   }
}

.yes {
    width: 50%;
}

.no {
    width: 50%;
}

.portal-title {
    border-bottom: 2px dotted rgb(122, 122, 122);
    
}