body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-image: url("https://files.catbox.moe/pp381d.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 70vw;
    gap: 1em;
    background-image: url('https://files.catbox.moe/2kdmaj.jpg');
    padding: 1em;
    margin: -5px;
    border: 5px solid rgba(43, 43, 43, 0.247);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    font-family: 'Roboto Mono', monospace;
}

/* decorative outer frame that holds the border-image */
.frame {
    margin-top: 10vh;
    margin-bottom: 2vh;
    display: inline-block; 
    box-sizing: content-box;
    border: 38px solid transparent;
    border-image-source: url("https://files.catbox.moe/8tbvoe.png");
    border-image-slice: 28;
    border-image-repeat: round;
    z-index: 5;
}

.decor {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.top-decor {
    width: 200px;
    z-index: 10;
}

.ankh {
    width: 200px;
}

.bat-cat {
    width: 300px;
    
}

/* pal grid */

.caja {
    color: white;
    padding: 2em;
}

.letra-chica {
    text-align: center;
    font-size: 0.8em;
    color: white;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
}

header {
    grid-column: 1 / -1;
    text-align: center;
    nav {
        background-image: url("https://files.catbox.moe/nl3dug.jpg");
        background-size: cover;
        padding: 2em;
        border: 5px solid rgba(90, 90, 90, 0.247);
    }
    a {
        display: inline-block;
        padding: 1em;
        color: white;
        text-decoration: none;
        margin: 0 15px;
        font-size: 1.2em;
        &:after {
            transition: ease all 0.3s;
            content: '';
            width: 0;
            left: 0;
            bottom: 0;
            background-color: white;
            height: 2px;
            display: block;
        }
        &:hover {
            &:after {
                width: 100%;
            }
        }
    }
    h1 {
        margin: 2em 0;
    }
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

.skull {
    width: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
}

.status {
    grid-column: 1;
    background-image: url("https://files.catbox.moe/wo4puf.jpg");
    background-size: cover;
    border: 5px solid rgba(170, 170, 170, 0.247);
    width: 21.875em;
    height: 18.75em;
}

.status-title {
    width: 100%;
    display: block;
    margin: 0 auto 1em auto;
}

.log {
    grid-column: 1;
    width: 21.875em;
    height: 18.75em;
    background-image: url("https://files.catbox.moe/yklcuc.jpg");
    background-size: cover;
    border: 5px solid rgba(170, 170, 170, 0.247);
}

.update {
    font-size: 0.9em;
    margin-bottom: 1em;
    border: 1px solid rgba(255, 255, 255, 0.445);
    background-color: rgba(0, 0, 0, 0.459);
    padding: 0.4em;
}
table {
    width: 100%;
    border-collapse: collapse;
}

.update-data {
    font-size: 0.8em;
    color: rgb(200, 200, 200);
    font-style: italic;
}

td {
    font-weight: 300;
    background-color: rgba(255, 230, 253, 0.719);
    color: rgb(0, 0, 0);
}

th {
    background-color: rgba(17, 12, 17, 0.719);
    color: white;
}

th, td {
        border: 1px solid rgb(255, 255, 255);
        padding: 8px;
        text-align: left;
}

.about {
    grid-column: 2 / -1;
    grid-row: 2;
}

.comments {
    grid-column: 1;
    width: 21.875em;
    height: 18.75em;
    background-image: url("https://files.catbox.moe/1lnzbz.jpg");
    background-size: cover;
    color: white;
    padding: 2em;
    border: 5px solid rgba(170, 170, 170, 0.247);
    border-radius: 5px;
    iframe {
        width: 100%;
        max-height: 80%;
    }

    h2 {
        margin-top: 0;
    }
}

footer {
    grid-column: 1 / -1;
    grid-row: 4;
}

.portal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.options {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    background-image: url("https://files.catbox.moe/r0l224.jpg");
    background-size: cover;
    background-position: center;
    padding: 1em;
    border-radius: 10px;
    width: 40vw;
    height: 50vh;
    a {
        text-align: center;
        text-decoration: none;
        color: rgb(160, 160, 160);
        font-style: italic;
        &:hover {
            color: white;
            text-decoration: underline;
            transition: ease all 0.3s;
            transform: scale(1.1);
        };
   }
}

.yes {
    width: 50%;
}

.no {
    width: 50%;
}

.portal-title {
    border-bottom: 2px dotted rgb(122, 122, 122);
    
}

