html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    background-image: url("https://files.catbox.moe/pp381d.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 70vw;
    gap: 1.2em;
    background-image: url('https://files.catbox.moe/2kdmaj.jpg');
    padding: 1.2em;
    margin: -5px;
    border: 5px solid rgba(43, 43, 43, 0.247);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    font-family: 'Roboto Mono', monospace;
}

/* decorative outer frame that holds the border-image */
.frame {
    margin-top: 10vh;
    margin-bottom: 2vh;
    display: inline-block; 
    box-sizing: content-box;
    border: 38px solid transparent;
    border-image-source: url("https://files.catbox.moe/8tbvoe.png");
    border-image-slice: 28;
    border-image-repeat: round;
    z-index: 5;
}

.decor {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.top-decor {
    width: 200px;
    z-index: 10;
}

.ankh {
    width: 200px;
}

.bat-cat {
    width: 300px;
    
}

/* pal grid */

.caja {
    color: white;
    padding: 2em;
}

.letra-chica {
    text-align: center;
    font-size: 0.8em;
    color: white;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
}

header {
    grid-column: 1 / -1;
    text-align: center;
    nav {
        background-image: url("https://files.catbox.moe/nl3dug.jpg");
        background-size: cover;
        padding: 2em;
        border: 5px solid rgba(90, 90, 90, 0.247);
    }
    a {
        display: inline-block;
        padding: 1em;
        color: white;
        text-decoration: none;
        margin: 0 15px;
        font-size: 1.2em;
        &:after {
            transition: ease all 0.3s;
            content: '';
            width: 0;
            left: 0;
            bottom: 0;
            background-color: white;
            height: 2px;
            display: block;
        }
        &:hover {
            &:after {
                width: 100%;
            }
        }
    }
    h1 {
        margin: 2em 0;
    }
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

.skull {
    width: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
    grid-column: 1;
}

.right {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    gap: 1.2em;
}

.status {
    background-image: url("https://files.catbox.moe/wo4puf.jpg");
    background-size: cover;
    border: 5px solid rgba(170, 170, 170, 0.247);
    width: 21.875em;
    height: 18.75em;
    overflow-y: scroll;
    scrollbar-color: rgba(100, 46, 100, 0.658) transparent;

    table {
        margin: 2em auto;
    }
}

.status-title {
    width: 100%;
    display: block;
    margin: 0 auto 1em auto;
}

.log {
    width: 21.875em;
    height: 18.75em;
    background-image: url("https://files.catbox.moe/yklcuc.jpg");
    background-size: cover;
    border: 5px solid rgba(170, 170, 170, 0.247);
    overflow-y: scroll;
    scrollbar-color: rgba(90, 54, 90, 0.658) transparent;
}

.update {
    font-size: 0.9em;
    margin-bottom: 1em;
    border: 1px solid rgba(255, 255, 255, 0.445);
    background-color: rgba(0, 0, 0, 0.459);
    padding: 0.4em;

}
table {
    width: 100%;
    border-collapse: collapse;
}

.update-data {
    font-size: 0.8em;
    color: rgb(200, 200, 200);
    font-style: italic;
}

td {
    font-weight: 300;
    background-color: rgba(255, 230, 253, 0.719);
    color: rgb(0, 0, 0);
}

th {
    background-color: rgba(17, 12, 17, 0.719);
    color: white;
}

th, td {
        border: 1px solid rgb(255, 255, 255);
        padding: 8px;
        text-align: left;
}

.about {
    grid-column: 2 / -1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 5px solid rgba(170, 170, 170, 0.247);
    padding: 0%;
}

.negrita {
    font-weight: 800;
    font-style: italic;
    color: rgba(202, 198, 204, 0.884);
}

.red {
    color: rgb(211, 27, 27);
}

.face {
    width: 16.6em;
    align-self: baseline;
}

.italic {
    font-style: italic;
    font-size: larger;
    font-weight: 800;
}

.about-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url('https://files.catbox.moe/rvaztx.jpg');
    border-bottom: 5px solid rgba(68, 61, 67, 0.301);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    img {
        padding: 1em 0.5em 2em 2em;
    }
    p {
        font-size: clamp(1.5em, 2.4vw, 2.4em);
        text-align: center;
        font-style: italic;
        padding: 1em 1em 0 0;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.705);
    }
}

.header-blinkies {
    position: absolute;
    top: -1.2rem;  
    right: -1.2rem;    
    z-index: 999;
    display: flex;
    flex-direction: column;
}
    

.vampire-lover {
    width: 20em;
    padding: 0.2em !important;
}

.text-divider {
    position: absolute;
    width: 80%;
    top: -1.5rem;
}

.about-text {
    background-image: url('https://files.catbox.moe/yr94r1.jpeg');
    background-position: center;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 3em;
}

.text-block {
    height: clamp(12em, 30vh, 25em);
    overflow-y: scroll;
    scrollbar-color: rgb(136, 133, 133) transparent;
    padding: 1em;
    width: 80%;
}

.comments {
    grid-column: 1;
    width: 21.875em;
    height: 18.75em;
    background-image: url("https://files.catbox.moe/1lnzbz.jpg");
    background-size: cover;
    color: white;
    padding: 2em;
    border: 5px solid rgba(170, 170, 170, 0.247);
    border-radius: 5px;
    iframe {
        width: 100%;
        max-height: 80%;
    }

    h2 {
        margin-top: 0;
    }
}

.audio-player {
    color: aliceblue;
    background-image: url('https://files.catbox.moe/s3dkpt.jpeg');
    background-position: center;
    background-size: cover;
    height: fit-content;
    border: 5px solid rgba(170, 170, 170, 0.247);
    box-shadow: inset 2px rgb(122, 122, 122);
    display: grid;
    gap: 1.2em;
    font-weight: 500;
}

.column-left {
    grid-column: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audio-title {
    width: 40%;
    display: block;
    margin: 1em;
}

.playing-song {
    width: 90%;
    padding: 1.4em;
    background-color: rgba(110, 10, 95, 0.445);
    border: 4px solid rgba(170, 170, 170, 0.247);
}

.volume {
    width: 90%;
    padding: 1.4em;
    margin: 1em;
    background-color: rgba(110, 10, 95, 0.445);
    border: 4px solid rgba(170, 170, 170, 0.247);
    grid-row: 2;
}

.audio-button {
    display: inline-block;
    padding: 1em;
    margin-left: 0;
    width: 60px;
    border: none;
    border-radius: 40px;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        cursor: pointer;
        width: 100%;
        height: 100%;
        transition: ease all 0.3s;
        &:hover {
            color: rgba(202, 13, 174, 0.541);
        }
    }
}

.control-buttons {
    display: flex;
}

/* resetting styles */
input[type="range"] {
  -webkit-appearance: none; /* For WebKit browsers (Chrome, Safari) */
  -moz-appearance: none;    /* For Mozilla Firefox */
  appearance: none;         /* Standard property */
  width: 100%;              /* Adjust as needed */
  height: 10px;             /* Adjust as needed */
  background: transparent;  /* Make the default background transparent */
  cursor: pointer;          /* Indicate it's interactive */
  outline: none;            /* Remove default focus outline */
}

/*bar styles*/
input[type="range"]::-webkit-slider-runnable-track {
  background: #ddddddaf;
  height: 5px;
  border-radius: 2px;
}

/*thumb styles*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Reset thumb appearance */
  width: 20px;
  height: 20px;
  background: #8d0b7c;
  border-radius: 50%; /* Circular thumb */
  margin-top: -7.5px; /* Adjust to vertically center with the track */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.cover {
    grid-column: 2;
    grid-row: 1 / -1;
}

.album-cover {
    width: 100%;
    border: 4px solid rgba(170, 170, 170, 0.247);
}

footer {
    grid-column: 1 / -1;
    grid-row: 4;
}

.portal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.options {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    background-image: url("https://files.catbox.moe/r0l224.jpg");
    background-size: cover;
    background-position: center;
    padding: 1em;
    border-radius: 10px;
    width: 40vw;
    height: 50vh;
    a {
        text-align: center;
        text-decoration: none;
        color: rgb(160, 160, 160);
        font-style: italic;
        &:hover {
            color: white;
            text-decoration: underline;
            transition: ease all 0.3s;
            transform: scale(1.1);
        };
   }
}

.yes {
    width: 50%;
}

.no {
    width: 50%;
}

.portal-title {
    border-bottom: 2px dotted rgb(122, 122, 122);
    
}

